<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>Backbone tutorial</title>
</head>
<body>
  <div class="container">
    <h1 class="text-primary text-center mt-5">Backbone tutorial</h1>
    <table class="table">
      <thead>
        <tr>
          <th> Author </th>
          <th> Title </th>
          <th> URL </th>
          <th> Action </th>
        </tr>
        <tr>
          <td>ll</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody class="blogs-list">
        <tr>
          <td><input class="author-input"></td>
          <td><input class="title-input"></td>
          <td><input class="url-input"></td>
          <td><button class="bn btn-primary add-blog">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="text/template" class="blogs-list-template">
    <td><span class="author"><%= author %></span></td>
    <td><span class="title"><%= title %></span></td>
    <td><span class="url"><%= url %></span></td>
    <td>
      <button class="btn btn-warning edit-blog">Edit</button>
      <button class="btn btn-danger delete-blog">Delete</button>
    </td>
  </script>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/underscore/underscore.js"></script>
  <script src="node_modules/backbone/backbone.js"></script>
  <script src="script.js"></script>
</body>
</html>